<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link
      href="https://fonts.googleapis.com/css?family=Roboto"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
      integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf"
      crossorigin="anonymous"
    />

    <link rel="stylesheet" href="css/style.css" />
    <link rel="stylesheet" href="css/menu.css" />
    <link
      rel="stylesheet"
      media="screen and (max-width: 768px)"
      href="css/mobile.css"
    />
    <link rel="stylesheet" type="text/css" href="css/lightbox.min.css" />
    <script
      type="text/javascript"
      src="js/lightbox-plus-jquery.min.js"
    ></script>
    <title>Gallerie</title>
  </head>
  <body>

    <!-- Navbar -->
        <section id="menu-section">
          <nav class="menu">
            <ul>
              <li>
                <a class="current" href="index.html">
                  <div class="icon">
                    <i class="fas fa-futbol"></i>
                    Caprice
                  </div>
                </a>
              </li>
              <li><a class="current" href="index.html">Acceuil</a></li>
              <li><a href="Services.html">Services</a></li>
              <li><a href="Destination.html">Destination</a></li>
              <li><a href="promotion.html">Promotion</a></li>
              
            </ul>
          </nav>
        </section>
    <div class="menu-wrap">
      <input type="checkbox" class="toggler" />
      <div class="hamburger"><div></div></div>
      <div class="menu">
        <div>
          <div>
            <ul>
              <li><a href="#">Home</a></li>
              <li><a href="#">About</a></li>
              <li><a href="#">Services</a></li>
              <li><a href="#">Promotion</a></li>
              <li><a href="#">destination</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <header id="showcase">
      <div class="container showcase-container">
        <h1>Welcome</h1>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas
          maiores sint impedit delectus quam molestiae explicabo cum facere
          ratione veritatis.
        </p>
        <a href="#" class="btn">Read More</a>
      </div>
    </header>
    <h1>Destination</h1>
    <div class="gallery">
      <a href="images/anka.jpg" data-lightbox="mygallery" data-title=""
        ><img src="images/anka.jpg" width="230" height="200"
      /></a>
      <a href="images/astra.jpg" data-lightbox="mygallery"
        ><img src="images/astra.jpg" width="230" height="200"
      /></a>
      <a href="images/avion.jpg" data-lightbox="mygallery"
        ><img src="images/avion.jpg" width="230" height="200"
      /></a>
      <a href="images/camel.jpg" data-lightbox="mygallery"
        ><img src="images/camel.jpg" width="230" height="200"
      /></a>
      <a href="images/cathedral.jpg" data-lightbox="mygallery"
        ><img src="images/cathedral.jpg" width="230" height="200"
      /></a>
      <a href="images/chefchoun.jpg" data-lightbox="mygallery"
        ><img src="images/chefchoun.jpg" width="230" height="200"
      /></a>
      <a href="images/destination.jpg" data-lightbox="mygallery"
        ><img src="images/destination.jpg" width="230" height="200"
      /></a>
      <a href="images/road1.jpg" data-lightbox="mygallery"
        ><img src="images/road1.jpg" width="230" height="200"
      /></a>
      <a href="images/everywhere.jpg" data-lightbox="mygallery"
        ><img src="images/everywhere.jpg" width="230" height="200"
      /></a>
      <a href="images/free.jpg" data-lightbox="mygallery"
        ><img src="images/free.jpg" width="230" height="200"
      /></a>
      <a href="images/grandHotel.jpg" data-lightbox="mygallery"
        ><img src="images/grandHotel.jpg" width="230" height="200"
      /></a>
      <a href="images/maldive.jpg" data-lightbox="mygallery"
        ><img src="images/maldive.jpg" width="230" height="200"
      /></a>
      <a href="images/open.jpg" data-lightbox="mygallery"
        ><img src="images/open.jpg" width="230" height="200"
      /></a>
      <a href="images/palace.jpg" data-lightbox="mygallery"
        ><img src="images/palace.jpg" width="230" height="200"
      /></a>
      <a href="images/rent.jpg" data-lightbox="mygallery"
        ><img src="images/rent.jpg" width="230" height="200"
      /></a>
      <a href="images/riodejenero.jpg" data-lightbox="mygallery"
        ><img src="images/riodejenero.jpg" width="230" height="200"
      /></a>
    </div>
  <footer>
    <div class="ftr">
      <div class="champ1">
  
        <img src="images/lg.png" alt="" class="footer3aa">
  
        <h2>Fusce dapibus, tellus ac cursus commodo,
          tortor mauris. Fusce dapibus, tellus ac cursus
          commodo, tortor mauris. </h2>
  
        <h3>◯ ◯ ◯</h3>
  
  
  
  
      </div>
      <div class="champ2">
        <h1>QUICK LINKS</h1>
        <div class="blank1"></div>
  
        <p>HOME</p>
        <p>ABOUT US</p>
        <p>CITY GUIDE</p>
        <p>BLOG</p>
        <p>FAQ's</p>
  
      </div>
      <div class="champ2">
        <h1>QUICK LINKS</h1>
        <div class="blank1"></div>
  
        <p>HOME</p>
        <p>ABOUT US</p>
        <p>CITY GUIDE</p>
        <p>BLOG</p>
        <p>FAQ's</p>
  
      </div>
      <div class="champ3">
        <h1>CONTACT US</h1>
        <h2>Feel free to get in touch with us via phone or send
          us a message</h2>
  
        <div><b>+1 800 123 1234</b>&nbsp; &nbsp;<a>email@website.com</a></div>
      </div>
    </div>
  
    <div class="footer2">
      <p>@Copyright 2019. All Right Reserved</p>
      <p>Privacy PolicyTerms & Conditions</p>
    </div>
    <script src="js/main.js"></script>
  </body>
</html>
